doctype html
html(lang="fr")
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css", integrity="ha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH", crossorigin="anonymous")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/ol@v10.0.0/ol.css")
		link(rel="icon", href="/images/favicon.ico")



	body
		nav(class="navbar navbar-expand-lg bg-body-tertiary mb-3")
			div(class="container-fluid")
				a(class="navbar-brand", href="/") Visu-MF
				button(class="navbar-toggler", type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav")
					span(class="navbar-toggler-icon")
				div(class="collapse navbar-collapse", id="navbarNav")
					div(class="navbar-nav")
						a(class="nav-link", href="/images/mosaiques/z", id="nav-mosa-z") Mosaïque Z
						a(class="nav-link", href="/images/mosaiques/lame_eau", id="nav-mosa-lame-eau") Mosaïque lame d'eau
						a(class="nav-link", href="/obs/carte/", id="nav-obs") Observations
						a(class="nav-link", href="/nsmt-40", id="nav-nsmt-40") NSMT 40
		block content
		script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js", integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r", crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz", crossorigin="anonymous")
